<div class="footer">
  <h3>Let's Chat.</h3>
  <div class="form-wrapper">
    <form id="message-form">
      <div class="form-top-row">
        <input type="text" name="name" placeholder="Full Name">
        <input type="text" name="email" placeholder="Email">
      </div>
      <textarea name="message" form="message-form" rows="2" placeholder="Enter a message..."></textarea>
      <input type="submit" value="Send!">
    </form>
  </div>
  <h3>Come & say hi - I'd love to connect!</h3>
  <i class="fas fa-arrow-circle-down fa-lg"></i>
  <div class="social-links">
    <a href="{{ site.twitter }}" class="btn hov-pink"><i class="fab fa-twitter"></i>twitter</a>
    <a href="{{ site.linkedin }}" class="btn hov-green"><i class="fab fa-linkedin"></i>linkedin</a>
    <a href="{{ site.github }}" class="btn hov-purple"><i class="fab fa-github-alt"></i>github</a>
    <a href="{{ site.codepen }}" class="btn hov-blue"><i class="fab fa-codepen"></i>codepen</a>
  </div>
  <p>© 2020 susanjsp .<br> Made with <i class="fas fa-hand-holding-heart"></i> and plenty of <i class="fas fa-mug-hot"></i></p>
</div>