<div class="header">
  <div class="page-links">
    <a href="/" class="hov-pink header-btn"><i class="fas fa-home"></i><br> home</a>
    <a href="/about" class="hov-yellow header-btn"><i class="far fa-smile"></i><br> about</a>
    <a href="/posts" class="hov-blue header-btn"><i class="fas fa-feather-alt"></i><br> posts</a>
    <a href="https://susanjsp.dev/" class="hov-purple header-btn"><i class="far fa-file-code"></i><br> projects</a>
    <button class="mobile-social-btn btn hov-pink"><i class="fab fa-twitter"></i><br>SOCIALS</button>
  </div>
  <div class="social-links-header">
    <a href="{{ site.linkedin }}" class="hov-green"><i class="fab fa-linkedin"></i></a>
    <a href="{{ site.twitter }}" class="hov-blue"><i class="fab fa-twitter"></i></a>
    <a href="{{ site.github }}" class="hov-purple"><i class="fab fa-github-alt"></i></a>
    <a href="{{ site.codepen }}" class="hov-yellow"><i class="fab fa-codepen"></i></a>
  </div>
</div>