<div class="header">
  <div class="page-links">
    <a href="/" class="hov-pink">home</a>
    <a href="/about" class="hov-yellow">about</a>
    <a href="" class="hov-blue">posts</a>
    <a href="" class="hov-purple">projects</a>
  </div>
  <div class="social-links">
    <a href="{{ site.linkedin }}" class="hov-green">{% include linkedin-icon.html %}</a>
    <a href="{{ site.twitter }}" class="hov-blue">{% include twitter-icon.html %}</a>
    <a href="{{ site.github }}" class="hov-purple">{% include github-icon.html %}</a>
    <a href="{{ site.codepen }}" class="hov-yellow">{% include codepen-icon.html %}</a>
  </div>
</div>