<div class="header">
  <div class="page-links">
    <a href="/" class="hov-pink"><i class="fas fa-home"></i> home</a>
    <a href="/about" class="hov-yellow"><i class="far fa-smile"></i> about</a>
    <a href="/posts" class="hov-blue"><i class="fas fa-feather-alt"></i> posts</a>
    <a href="" class="hov-purple"><i class="far fa-file-code"></i> projects</a>
  </div>
  <div class="social-links">
    <a href="{{ site.linkedin }}" class="hov-green"><i class="fab fa-linkedin"></i></a>
    <a href="{{ site.twitter }}" class="hov-blue"><i class="fab fa-twitter"></i></a>
    <a href="{{ site.github }}" class="hov-purple"><i class="fab fa-github-alt"></i></a>
    <a href="{{ site.codepen }}" class="hov-yellow"><i class="fab fa-codepen"></i></a>
  </div>
</div>