
<div class="post-card">
  <a href="{{ post.url }}"><img src="{{post.img-sm}}"></a>
  <div class="post-card-content">
    <div class="post-card-content-txt">
      <p class="small-txt">
        <img src="https://img.icons8.com/officexs/16/000000/calendar.png"/>
        {{ post.date | date: "%a %-d %B %Y" }} - {{ post.read_time}}
      </p>
      <a href="{{ post.url }} "><h4>{{ post.title }}</h4></a>
      <p>{{ post.description }}</p>
      <a href="{{post.url}}" class="btn hov-green wide-btn"> Read More... </a>
    </div>
    <div class="post-card-footer">
      <p class="small-txt"><i class="fas fa-tags"></i>
      {% for tag in post.tags %}
        {{ tag }}
      {% endfor %}</p>
      <!-- <p class="small-txt">Write a comment</p> -->
      <p class="small-txt"><i class="far fa-heart"></i></p>
    </div>
  </div>
</div>