button {
  border: solid 1px black;
  padding: 6px;
  text-transform: capitalize;
}
.btn {
  text-transform: uppercase;
  padding: 8px;
  transition: 0.1s ease-out;
  &:hover {
    border: solid 1px black;
  }
}
.wide-btn {
  display:block;
  margin: 16px auto;
  width: 70%;
  text-align: center;
}
.category-btn {
  background-color: white;
  margin: 0px 8px;
}

.hov-pink {
  &:hover {
    box-shadow: 3px 3px 0px $pink;
  }
}
.hov-green {
  &:hover {
    box-shadow: 3px 3px 0px $green;
  }
}
.hov-purple {
  &:hover {
    box-shadow: 3px 3px 0px $purple;
  }
}
.hov-blue {
  &:hover {
    box-shadow: 3px 3px 0px $blue;
  }
}
.hov-yellow {
  &:hover {
    box-shadow: 3px 3px 0px $yellow;
  }
}
.mobile-social-btn {
  border: none;
  background-color: $backgroundColor;
  margin-left: 4px;
  font-weight: 200;
}
.header-btn, .social-links, .mobile-social-btn {
  text-align: center;
  font-size: 0.8rem;
  i {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
}
@media (min-width: 550px) {
  .header-btn, .social-links {
    font-size: 1rem;
    i {
      font-size: 1rem;
      margin-bottom: 0;
    }
    br {
      display: none;
    }
  }
  .mobile-social-btn {
    display: none;
  }
}
