.footer {
  text-align: center;
  width: 100%;
  background-color: #eedfff;
  padding-top: 48px;
  p {
    margin: 0;
  }
  h3 {
    font-family: $header-txt;
    font-size: 1.5rem;
    margin: 0;
  }
  & > * {
    padding: 24px 0px;
  }
  i {
    margin: 0px 8px;
  }
  .social-links-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 5%;
    text-align: center;
  }
}

@media (min-width: 550px) {
  .footer {
    .social-links-footer {
    display: block;
    }
    br {
      display: none;
    }
  }
}