.header {
  text-transform: uppercase;
  padding: 16px 0px;
  background-color: $backgroundColor;

  a {
    padding: 8px;
    transition: 0.1s ease-out;
  }
  a:hover {
    border: solid 1px black;
  }
}
@media (min-width: 450px) {
  .header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}