.header {
  padding: 6px 0 4px 0;
  text-transform: uppercase;
  background-color: $backgroundColor;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  a {
    padding: 8px;
    transition: 0.1s ease-out;
  }
  a:hover {
    border: solid 1px black;
  }
}
.page-links, .social-links {
  display: contents;
}
.social-links {
  a {
    display: none;
  }
}
.dropdown {
  display: block;
}
@media (min-width: 550px) {
  .header {
    padding: 16px 0px;
  }
  .page-links { display: flex; }
  .social-links {
    display: flex;
    a {
      display: block;
    }
  }
}