---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    {% feed_meta %}
    {% seo %}
  </head>

  <body>
    <div class="container blog-show-container">
      {% include header.html %}
      <main>
        <p class="small-txt" id="sub-header">{{ page.date | date: "%A, " }}{{ page.date | date_to_string: "ordinal" }} -
          {{ page.category | capitalize }}
        </p>
        <h1>{{ page.title }}</h1>
        <p>{{ post.read_time }}</p>
        <img src="{{page.img}}" id="poster-img">
        <article>
          {{ content }}
          <p>Tags: {% for tag in page.tags %} <button>{{ tag }}</button> {% endfor %}</p>
        </article>
        <div class="prev-next-links">
          {% if page.previous.url %}
          <div class="left-link">
            <a class="previous" href="{{ page.previous.url }}">
              << PREV <strong>{{ page.previous.title}}</strong>
            </a>
          </div>
          {% endif %}
          {% if page.next.url %}
          <div class="right-link">
            <a class="next" href="{{ page.next.url }}"><strong>{{ page.next.title}}</strong> NEXT >></a>
          </div>
          {% endif %}
        </div>
      </main>
    </div>

    {% include footer.html %}

  </body>
</html>
